body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@font-face {
    font-family: "linux_libertine_display_gRg";
    src: url("./fonts/linlibertine_dr_g-webfont.woff2") format("woff2"),
        url("./fonts/linlibertine_dr_g-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

h1,
h2,
h3 {
    font-family: "linux_libertine_display_gRg";
}
